{% extends "base.twig" %}

{% block content %}
    <div class="container" id="mission">
        <h1 class="text-center mb-4">
            I love to Invent Tools that
            Automate&nbsp;Your&nbsp;Everyday&nbsp;Boring&nbsp;Work
        </h1>

        Do you want to support me?
        github spornsosr


        <p class="bigger mb-4">
            ...
        </p>


        open source

        extenrall I maintain



        migrations

        projects
        - friendsofphp.org
        - frmaework stats





    <br>
    <br>
{% endblock %}
